@inject IRecordService RecordService

@if(RecordService.Records==null || RecordService.Records.Count == 0)
{
    <span>Loading Records...</span>
}
else
{
    <ul class="list-unstyled">

        @foreach (var record in RecordService.Records)
        {
            <li class="media my-3">
                <div class="media-body">
                    <h4 class="mb-0">@record.Date.ToString("yyyy-MM-dd")</h4>
                    <p>@record.WorkStartTimeMorning.ToString("HH:mm:ss")</p>
                    <p>@record.WorkEndTimeMorning.ToString("HH:mm:ss")</p>
                    <p>@record.WorkStartTimeAfternoon.ToString("HH:mm:ss")</p>
                    <p>@record.WorkEndTimeAfternoon.ToString("HH:mm:ss")</p>
                </div>
            </li>
        }

    </ul>
}



@code {

    protected override async Task OnInitializedAsync()
    {
        await RecordService.GetRecords();
    }

}
